/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

 html,
 body {
   height: 100%;
   background-color:#16241f;
   z-index: -10;
   scroll-behavior: smooth;
 }
 
 body {
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   width: 100%;
   color: #fff;
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
 }

/* --------------  Nav Styling --------------  */

#logo {
  padding: 5px;
  width: 80px;
  margin-right: 40px;
}

.nav-masthead .nav-link {
  padding: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  text-decoration: underline wavy;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.1rem;
}

.nav-masthead .active {
  color: #fff;
  text-decoration: #FF6600 underline wavy;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.1rem;
}

/* --------------  Hero Image & Container Styling --------------  */

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hero-container {
  display:flex;
  width: 100vw;
  height:70vh;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  background-image: url("../images/waterfall.copy.jpg");
  background-size: cover, contain;
}

.search-container {
  display:flex;
  flex-direction: column;
  width: 60vw;
}

.hero-heading {
  padding: .5rem 0;
  margin: 0;
}

#hero-search{
  font-weight: 500;
  color: #FF6600;
  border-color: #FF6600;
  padding: 0 50px;
  margin-left: 10px;
}

#hero-search:hover{
  background-color: #FF6600;
  color: #333;
}

/* -------------- Map Style --------------  */

#map {
  height: 75vh;
  margin: 15vh;
  margin-top: 20vh;
  margin-bottom: 50px;
  color: black;
}

#windowImg {
  border-radius: 5px;
  align-content: center;
  height: 100px;
  width: 150px;
}

#windowNames {
  font-size: 16px;
  text-align: center !important;
}

#windowArea {
  font-size: 14px;
  font-style: italic;
}

#windowNames, #windowRtg, #windowArea, #dir {
  text-align: center;
  margin: 2px;
}

#windowNames {
  font-weight: bold;
  padding-top: 5px;
}

#dir {
  margin-top: 5px;
}

#direct {
  color: black;
}

#direct:hover{
  color: grey;
}

.dir {
  color: black;
}

a:hover {
  text-decoration: none;
}

#windowRtg, #dir {
  font-weight: bold;
}

/* -------------- Modal Style --------------  */
#aboutModal{
  position: fixed;
  z-index: 10;
  float: right;
  margin-right: 250px;
  margin-top: 250px;
} 

/* --------------  Location Cards --------------  */

#locations {
  background-color: #fff;
}

.card {
  width: 18rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 5px 10px 20px darkgray;
  color: #333;
}

.card-body{
  padding: 10px 20px;
  padding-bottom: 30px;
}

.image-container {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 10px;

}

img {
  background-image: url();
  border-radius: 10px;
  height: inherit;
  width: inherit;
}
.card-title {
  font-size: large;

  line-height: 1rem;
}

p {
  font-size: small;
}

/* -------------- Footer Style --------------  */

footer {
  margin-top: 30px;
  background-color: white;
}

.footer .row{
  align-content: center;
  justify-content: space-around;
  margin-bottom: 25px;
} 

.cardContainer col-sm-1 {
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.card-contact {
  width: 100%;
}

.credits {
  color: black;
}

.row .credits h5{
  justify-content:flex-start;
  margin-left: 0;
  font-size: 16px;
  padding-top: 30px;
  font-size: 12px;
}
.row .credits h6{
  margin-left: 0;
  justify-content:flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
}

.card-img-top {
  padding-top: 30px;
}

#unsplash {
  color: grey;
  font-style: italic;
}

/* -------------- Media queries for smartphone --------------  */

@media only screen and (max-width: 600px) {
  .hide {
    display: none;
  }

  .credits {
    inline-size: 200px;
    overflow-wrap: break-word;
  }
}