body{
    max-width: fit-content;
    font-family: Geneva, Verdana, sans-serif;
    padding-left: 40px;
  }
  
  /* NAVIGATION BAR */

  .navbar-brand {
    padding-left: 40px;
  }

  ul.navbar-nav {
    margin-left: 80px;
    justify-items: space-around;
    color: grey;
    text-decoration:none;
  }
  
  ul.navbar-nav :hover{
    font-size: larger;
    color: black;
  }
  
  .navbar-toggler {
    border: none;
    background-color: transparent;
  }
  
  .navbar-toggler.active .icon-bar {
    background-color: #000;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  
  .navbar-toggler.active .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
  .navbar-toggler.active .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  
/* Jumbotron with slideshow and floating searchform */

.jumbotron{
    display: block;
    margin: 40px, 40px, 40px, 40px;
}

 .carouselImagesWales{
    /* right: 0;
    bottom: 0; */
    width: 20%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #aboutModal{
    position: relative;
    z-index: 9;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
  }

/* FOOTER */
footer {
  position: absolute;
  width: 100%;
  padding-top: 25px;
  height: fit-content;
  justify-content: center;
}

.footer .row{
  align-content: center;
  justify-content: space-around;
  margin-bottom: 25px;
}
.cardContainer col-sm-1 {
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.card-contact {
  width: 100%;
}

.card-contact :hover {
  width:150px;
}

.row h4{
  color:black;
  justify-content: center;
  padding-top: 25px;
}
.row h5{
  color:black;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
  /* .map {
    height:400px;
    width: 100%;
  } */